@import './variables';

.header__button--green {
    background-color: $lightGreen;
    padding: 12px;
    border: transparent;
    border-radius: 4px;
    font-weight: bold;
    color: $white;
    cursor: pointer;
    &:hover,
    :active {
        background-color: $darkGreen;
    }
}

.button--submit {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: $darkBlue;
    align-self: center;
    width: 100%;
    color: white;
    font-weight: bold;
    margin: 16px 0;

    &:hover {
        background-color: $lightBlue;
        cursor: pointer;
    }
}

.button--confirm {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: $darkGreen;
    align-self: center;
    width: 100%;
    color: white;
    font-weight: bold;
    margin: 16px 0;

    &:hover {
        background-color: $lightGreen;
        cursor: pointer;
    }
}

.button--cancel {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    align-self: center;
    width: 100%;
    font-weight: bold;
    margin: 16px 0;
    margin-left: 16px;

    &:hover {
        cursor: pointer;
    }
}

.button--edit {
    color: $darkBlue;
    height: 16px;
    width: 16px;
    margin-right: 16px;
    &:hover {
        cursor: pointer;
    }
}

.button--add {
    color: $darkBlue;
    height: 48px;
    width: 48px;
    &:hover {
        cursor: pointer;
    }
}

.button--delete {
    color: $lightGrey;
    height: 16px;
    width: 16px;
    &:hover {
        cursor: pointer;
    }
}

.button--accept {
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #fafafa;
    align-self: center;
    width: 100%;
    color: $darkBlue;
    font-weight: bold;
    margin: 16px 0;

    &:hover {
        cursor: pointer;
    }
}

.button--decline {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #fafafa;
    align-self: center;
    width: 100%;
    color: red;
    font-weight: bold;
    margin: 16px 0;

    &:hover {
        cursor: pointer;
    }
}
