@import './variables';

.inputfield {
    paddin-top: 16px;
    display: flex;
    flex-direction: column;
    margin: 8px 0;

    label {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 8px;
    }

    input,
    textarea {
        padding: 16px;
        border: 2px solid $darkBlue;
        border-radius: 4px;
    }

    div {
        color: red;
        font-size: 12px;
    }
}

.input-form__container {
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.34);
    padding: 16px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;

    .input-form__heading {
        font-size: 24px;
        font-weight: 500;
        color: $lightGrey;
    }
}
