$darkBlue: #1b6ca8;
$lightBlue: #5f98c2;
$darkGreen: #368c72;
$lightGreen: #7ecba1;
$white: #FFFFFF;
$black: #000000;
$lightGrey: #B1B1B1;

$navbarMaterialHeight: 64px;

// paddings
$tinyPadding: 2px;
$verySmallPadding: 4px;
$smallPadding: 8px;
$mediumPadding: 12px;
$normalPadding: 16px;
$bigPadding: 32px;
